# App
SERVER_PORT=3030
APP_FRONTEND_URL=http://localhost:3000

# Auth
AUTH_URL=http://localhost:3030
AUTH_SECRET=
AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=
AUTH_COOKIE_PREFIX=
AUTH_DOMAIN=

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/kashin

# Email
EMAIL_FROM="Kashin <noreply@kashin.app>"
EMAIL_RESEND_API_KEY=

# Google (Gmail/PubSub)
GOOGLE_SERVICE_ACCOUNT_CREDENTIAL={}
GOOGLE_PUBSUB_TOPIC_NAME=
GOOGLE_GMAIL_AUDIENCE=

# Server
SERVER_URL=http://localhost:3030

# LLM
LLM_MODEL=google/gemini-2.5-flash-lite
LLM_API_KEY=
LLM_BASE_URL=
LLM_HTTP_REFERER=
LLM_X_TITLE=

# QStash
QSTASH_URL=
QSTASH_TOKEN=
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=

# Inngest
INNGEST_ID=kashin-dev

# Log
LOG_LEVEL=debug
